<launch>

  <arg name="repository_path" default="please_set_the_path_to_this_repository" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg repository_path)/sensor_vis.rviz "/>

  <!-- ground to velodyne -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="ground2velodyne" args="0.0 0.0 1.095 0.0 0.0 0.0 /ground /velodyne" />

  <!-- ground to imu -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="ground2imu" args="0.1 0.2 1.055 0.0 0.0 3.14 /ground /imu" />

</launch>
